.root {
  text-align: center;
  width: 100%;
  position: relative;

  &__text {
    background: inherit;
    border: none;
    top: -100px;
    right: 20px;
    position: absolute;
    width: fit-content;
    cursor: pointer;
  }
}
