.root {
  margin: 10px 0 50px 0;
  text-align: center;
  width: 100%;
  height: 50px;
  position: relative;

  &__text {
    background: inherit;
    border: none;
    text-align: center;
    width: fit-content;
    cursor: pointer;
  }
}
