.root {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 0;

  &__text {
    background: inherit;
    border: none;
    top: -20px;
    right: 25px;
    position: absolute;
    width: fit-content;
    cursor: pointer;

    &_removeTop {
      top: 0;
    }
  }
}
