.root {
  position: relative;
  min-height: 100dvh;
  margin: 0 auto;
  max-width: 425px;
  overflow: clip;
  background: inherit;

  &__main {
    background-image: url('../../../../assets/MAIN_BACK.png');
    background-size: cover;
  }
}
