.root {
  width: 100%;

  &__text {
    width: 45px;
    position: absolute;
    background: inherit;
    border: none;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    top: 35%;
    right: 10px;

    &_left {
      left: 10px;
      transform: scaleX(-1);
    }
  }
}
